<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>list</key>
		<array>
			<string>Live Scores</string>
			<string>League Table</string>
			<string>Current Match</string>
		</array>
		<key>views</key>
		<array>
			<string>livescores</string>
			<string>leaguetable</string>
			<string>currentmatch</string>
		</array>
		<key>status</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
		</array>
		<key>icons</key>
		<array>
			<string>football.png</string>
			<string>trophy.png</string>
			<string>stopwatch.png</string>
		</array>
		<key>name</key>
		<string>Matchday</string>
	</dict>
	<dict>
		<key>list</key>
		<array>
			<string>News</string>
			<string>Results</string>
			<string>Fixtures</string>
			<string>Players</string>
			<string>Tickets</string>
			<string>Albion Store</string>
		</array>
		<key>views</key>
		<array>
			<string>news</string>
			<string>results</string>
			<string>fixtures</string>
			<string>players</string>
			<string>tickets</string>
			<string>store</string>
		</array>
		<key>icons</key>
		<array>
			<string>newspaper.png</string>
			<string>list2.png</string>
			<string>calendar.png</string>
			<string>group.png</string>
			<string>ticket.png</string>
			<string>shopping_cart.png</string>
		</array>
		<key>status</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>0</integer>
			<integer>1</integer>
			<integer>1</integer>
		</array>
		<key>name</key>
		<string>Seagulls</string>
	</dict>
	<dict>
		<key>list</key>
		<array>
			<string>Rail</string>
			<string>Bus</string>
			<string>Park &amp; Ride</string>
			<string>Traffic</string>
			<string>Cycling</string>
			<string>Walk</string>
		</array>
		<key>views</key>
		<array>
			<string>trains</string>
			<string>buses</string>
			<string>parkride</string>
			<string>traffic</string>
			<string>cycling</string>
			<string>walk</string>
		</array>
		<key>icons</key>
		<array>
			<string>national_rail_logo.png</string>
			<string>bus.png</string>
			<string>bus.png</string>
			<string>car.png</string>
			<string>bicycle.png</string>
			<string>walk.png</string>
		</array>
		<key>status</key>
		<array>
			<integer>0</integer>
			<integer>0</integer>
			<integer>1</integer>
			<integer>0</integer>
			<integer>1</integer>
			<integer>1</integer>
		</array>
		<key>name</key>
		<string>Travel</string>
	</dict>
	<dict>
		<key>list</key>
		<array>
			<string>Twitter</string>
		</array>
		<key>views</key>
		<array>
			<string>twitter</string>
		</array>
		<key>icons</key>
		<array>
			<string>twitter.png</string>
		</array>
		<key>status</key>
		<array>
			<integer>0</integer>
		</array>
		<key>name</key>
		<string>Social</string>
	</dict>
	<dict>
		<key>list</key>
		<array>
			<string>About</string>
			<string>My Account</string>
			<string>Preferences</string>
			<string>Feedback</string>
			<string>Status</string>
			<string>Help</string>
		</array>
		<key>views</key>
		<array>
			<string>about</string>
			<string>account</string>
			<string>preferences</string>
			<string>feedback</string>
			<string>status</string>
			<string>help</string>
		</array>
		<key>icons</key>
		<array>
			<string>happyface.png</string>
			<string>user.png</string>
			<string>adjustments.png</string>
			<string>bullhorn.png</string>
			<string>barchart.png</string>
			<string>help_symbol2.png</string>
		</array>
		<key>status</key>
		<array>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>1</integer>
		</array>
		<key>name</key>
		<string>Settings</string>
	</dict>
</array>
</plist>
